<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>All Matchs</title>
	<style>
		body,
		html {
			margin: 7%;
			margin-top: 12%;
			padding: 0;
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('/imgs/fondo.jpg');
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}

		.container {
			width: 100%;
		}

		.content-wrapper {
			background-color: rgba(255, 255, 255, 0.7);
			border-radius: 15px;
			padding: 20px;
			width: 100%;
		}

		.fa {
			margin-left: 10px;
		}

		td {
			vertical-align: middle;
		}
	</style>
	<script>
    function filterMatchs() {
        var teamFilter = document.getElementById("teamFilter");
        var selectedTeamId = teamFilter.value.toUpperCase();
        var table = document.getElementById("matchsTable");
        var tr = table.getElementsByTagName("tr");

        for (var i = 1; i < tr.length; i++) {
            var teamId = tr[i].getAttribute("data-teamid");
            var teamId2 = tr[i].getAttribute("data-teamid2");
            var tdName = tr[i].getElementsByTagName("td")[0];

            if (tdName) {
					var txtValue = tdName.textContent || tdName.innerText;
					if ((selectedTeamId === "" ||selectedTeamId === teamId) || (selectedTeamId === "" ||selectedTeamId === teamId2)) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
        }
    }
</script>

</head>

<body>
	<div class="container">
		<!-- Encabezado -->
		<div class="row align-items-center">
			<div class="row">
				<a href="/home/index">
					<img src="/imgs/banner.png" alt="Banner" />
				</a>
			</div>
		</div>
		<br>
		<!-- Navegador -->
		<div class="row align-items-center">
			<div class="col text-center" style="width: 100%;">
				<div th:replace="~{navbar :: navbarFragment}"></div>
			</div>
		</div>
		<br>
		<br>
		<!-- Cuerpo -->
		<div class="content-wrapper">
			<div class="row">
				<div class="col">
					<h2 style="text-align: center;">All Matches</h2>
					<br>
					<div class="row align-items-center">	
								
						<div class="col-md-6 mb-3">
							<select id="teamFilter" onchange="filterMatchs()" class="form-control">
								<option value="">All Teams</option>
								<option th:each="team : ${teams}" th:value="${team.id_team}" th:if="${team.name != 'Agentes Libres'}" th:text="${team.name}">Team
									Name</option>
							</select>
						</div>
					</div>

					<table id="matchsTable" class="table table-bordered">
						<thead style="background-color: #007bff;">
							<tr>
								<th>Local Team</th>
								<th>Visitant Team</th>
								<th>Nº Game</th>
								<th>Date</th>
								<th>Score</th>
								<th>Tickets</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="match : ${matches}" th:data-teamid="${match.idLocalTeam}" th:data-teamid2="${match.idVisitantTeam}">
								<td th:each="team : ${teams}" th:if="${team.id_team == match.idLocalTeam}"
									th:text="${team.name}">Local Team</td>
								</td>
								<td th:each="team : ${teams}" th:if="${team.id_team == match.idVisitantTeam}"
									th:text="${team.name}">Visitant Team</td>
								</td>
								<td th:text="${match.numberGame}">Nº Game</td>
								<td th:text="${match.date}">Date</td>
								<td th:text="${match.score}">Score</td>
								<td th:text="${match.tickets}">Tickets</td>
								<td>
									<i class="fa fa-wrench"></i>
									<i class="fa fa-trash"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<br>
		<br>
		<!-- Footer -->
		<footer class="bg-body-tertiary text-center text-lg-start">
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2024 Copyright: FOOTBALLZONE
			</div>
		</footer>
	</div>
</body>

</html>